body {
    margin-left: auto;
    margin-right: auto;
    width: auto
}

#return {
    position: absolute;
    left: 8pt;
    top: 6pt
}

#participate {
    position: absolute;
    right: 8pt;
    top: 6pt
}

#line {
    position: absolute;
    top: 18pt;
    left: 10%;
    height: 1pt;
}

.info_display {
    border-left: 0;
    border-right: 0;
    
    width: 80%;
    height: 80pt;
    
}

#display1 {
    position: absolute;
    top: 20%;
    left: 10%
}

#display2 {
    position: absolute;
    top: 50%;
    left: 10%;
}

#display3 {
    position: absolute;
    top: 80%;
    left: 10%;
}

#display4 {
    position: absolute;
    top: 110%;
    left: 10%;
}

#activity_name {
    position: absolute;
    top: 15%;
    left: 10%;
    margin: 0;
}

#activity_time {
    position: absolute;
    top: 45%;
    left: 10%;
    margin: 0;
}

#activity_location {
    position: absolute;
    top: 75%;
    left: 10%;
}

#activity_request {
    position: absolute;
    top: 105%;
    left: 10%;
}


